@import "../../commen/stylus/mixin.styl"
@import "../../commen/stylus/base.styl"
.header
  color #fff
  background rgba(7, 17, 27, 0.5)
  position relative
  //发现设置背景图模糊后有阴影漏出来，影响了下面的控件,用这个设置可以消除
  overflow hidden
  .content-wrapper
    //上右下左
    padding 24px 12px 18px 24px
    //avatar和content两块内容之间有间距,是因为有空白字符,设置font-size为0可以消除空白字符
    font-size 0px
    position relative
    .avatar
      //既希望元素具有宽度高度特性，又具有同行特性，这个时候我们可以使用inline-block
      display inline-block
      img
        border-radius 2px
    .content
      display inline-block
      font-size 14px
      margin-left 16px
      vertical-align top
      .title
        margin 2px 0px 8px 0px
        .brand
          width 30px
          height 18px
          display inline-block
          bg-image('brand')
          background-size 30px, 18px
          background-repeat no-repeat
          vertical-align top
        .name
          font-size 16px
          margin-left 6px
          font-weight bold
          line-height 18px
          height 18px
      .desiciption
        line-height 12px
      .support
        margin-top 10px
        font-size 0px
        .icon
          width 12px
          height 12px
          margin-right 4px
          background-size 12px 12px
          background-repeat no-repeat
          display inline-block
          //&.decrese等同于 .icon.decrese   子样式
          &.decrease
            bg-image('decrease_1')
          &.discount
            bg-image('discount_1')
          &.guarantee
            bg-image('guarantee_1')
          &.invoice
            bg-image('invoice_1')
          &.special
            bg-image('special_1')
        .text
          font-size 10px
          line-height 12px
          vertical-align top
    .support-count
      position absolute
      right 12px
      bottom 18px
      padding 0 8px
      height 24px
      line-height 24px
      border-radius 14px
      text-align center
      background-color rgba(0, 0, 0, 0.2)
      .count
        font-size 10px
  .bulletin-wrapper
    height 28px
    line-height 28px
    background rgba(7, 17, 27, 0.2)
    padding 0px 22px 0 12px
    //文本不进行换行
    white-space nowrap
    //文本超出父元素的部分隐藏掉
    overflow hidden
    //当文本溢出包含元素时发生的事情
    //clip	修剪文本。	测试
    //ellipsis	显示省略符号来代表被修剪的文本。	测试
    //string	使用给定的字符串来代表被修剪的文本
    text-overflow ellipsis
    //消除子元素的空白间隙,但是font-size设为0px后超出的文本省略号没有了
    //也可以使两个span紧挨着,能实现一样的效果
    //font-size 0px
    .bulletin-title
      display inline-block
      //设置控件的宽高
      width 22px
      height 12px
      bg-image('bulletin')
      //设置背景图片的大小
      background-size 22px 12px
      background-repeat no-repeat
      vertical-align top
      //由于bulletin-wrapper设置了line-height为28px,bulletin-text继承了父控件的line-height属性
      //文本会占据28px的高度(父元素自身也有28px的高度),但自身高度是12px,那么想要居中的话,就需要margin-top 8px
      margin-top 8px
    .bulletin-text
      font-size 10px
      margin 0 4px
      vertical-align top
  .head-bg
    position absolute
    left 0px
    top 0px
    width 100%
    height 100%
    //设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面
    //设置为-1,此元素堆叠在后面
    z-index -1
    //滤镜效果
    //blur(px)	给图像设置高斯模糊。"radius"一值设定高斯函数的标准差，或者是屏幕上以多少像素融在一起， 所以值越大越模糊
    filter blur(10px)
  .detail
    position fixed
    z-index 100
    width 100%
    height 100%
    //不能用hide,否则超出屏幕部落的就不能滚动了
    overflow auto
    top 0
    left 0
    //transition all 0.5//对所有的属性渐变,时间是0.5s
    //进入时动画从fade-enter渐变到fade-translation
    //离开时动画从fade-leave渐变到fade-translation
    //&.fade-enter-active,&.fade-leave-active
    //  opacity 1
    background rgba(7, 17, 27, 0.8)
    //&.fade-enter,&.fade-leave
    //  opacity 0
    //background rgba(7, 17, 27, 0)
    .detail-wrapper
      //设置最小高度为视口高度
      min-height 100%
      width 100%
      .detail-main
        margin-top 64px
        //sticky foot一定需要设置padding-bottom的
        //因为detail-close有清除浮动,没有padding-bottom的话detail-main的内容会覆盖到detail-close上
        padding-bottom 64px
        .name
          font-size 16px
          //定义由粗到细的字符。400 等同于 normal，而 700 等同于 bold
          font-weight 700
          color rgb(255, 255, 255)
          line-height 16px
          text-align center
        .star
          margin-top 18px
          padding 2px 0px
          /*能让内部所有元素都居中*/
          text-align center
        .title
          display flex
          width 80%
          margin 30px auto 24px auto
          .line
            flex 1
            position relative
            top -6px
            border-bottom 1px solid rgba(255,255,255,0.2)
          .text
            padding 0 12px
            font-size 14px
            font-weight bold
        .supports
          width 80%
          margin 0 auto
          .support-item
            padding 0 12px
            margin-bottom 12px
            font-size 0
            &:last-child
              margin-bottom 0px
            .icon
              display inline-block
              width 16px
              height 16px
              vertical-align top
              background-size 16px 16px
              background-repeat no-repeat
              &.decrease
                bg-image('decrease_2')
              &.discount
                bg-image('discount_2')
              &.guarantee
                bg-image('guarantee_2')
              &.invoice
                bg-image('invoice_2')
              &.special
                bg-image('special_2')
            .text
              //因为文字左边的图片高度是16px,这里设置line-height 16px可以让文字居中
              line-height 16px
              font-size 12px
              margin-left 6px
        .bulletin
          width 80%
          margin 0 auto
          .content
            line-height 24px
            font-weight 200
            font-size 12px
            padding  0px 12px
    .detail-close
      position relative
      width 32px
      height 32px
      margin -64px auto 0 auto
      clear both
      font-size 32px
      .icon-close
        display inline-block
        width 32px
        height 32px
        background-image url("close.png")
        background-size 32px 32px
