.cart-control
  font-size 0px
  .cart-decrease, .cart-add
    display inline-block
    width 20px
    height 20px
    background-repeat no-repeat
    background-size 20px 20px
  .cart-decrease
    background-image url('../../../../resource/img/reduce.png')
  .cart-count
    vertical-align top
    display inline-block
    width 12px
    height 20px
    font-size 10px
    color rbg(147, 153, 159)
    line-height 20px
    text-align center
    margin 0 2px
  .cart-add
    background-image url('../../../../resource/img/add.png')
